body 
{
    
    background-color:#080808 ;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction:rtl;
}


#photos {
   /* Prevent vertical gaps */
   line-height: 100%;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
   
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: 100px !important;

}

.fotterName
{
    float: left;
    font-size: 8px;
    position: relative;
}
.f
{
     float: left;
    
}
.e
{
     float: right;
     


    
}

.behind {
        width: 100%;
        height: 100%;
        position: absolute;

        top: 0;
        right: 0;
    }
    .behind a.ui-btn {
       
        width:68px;
         height: 81px;
        margin:0px;
        float: right;
        border: none;
        position: static;
    }
    .behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
        color: white;
        background-color:#006699;
      
        text-shadow: none;
    }
    .behind a.ui-btn.pull-left {
        float: left;
    }
    .behind a.edit-btn, .behind a.edit-btn:active, .behind a.edit-btn:visited, .behind a.edit-btn:focus, .behind a.edit-btn:hover {
        color: white;
        background-color: orange;
        text-shadow: none;
    }